<a href="https://colab.research.google.com/github/MuhammadAfaan/Data-Science_Labs/blob/main/Data_Collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
import random
import datetime

conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS weather (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    city TEXT NOT NULL,
    temperature REAL,
    humidity INTEGER,
    pressure INTEGER,
    wind_speed REAL,
    wind_direction TEXT,
    precipitation REAL,
    visibility INTEGER,
    cloud_cover INTEGER,
    uv_index INTEGER,
    sunrise TEXT,
    sunset TEXT,
    datetime TEXT
);
''')

In [ ]:
cities = ["London", "New York", "Tokyo", "Berlin", "Paris"]
weather_conditions = ["Sunny", "Cloudy", "Rainy", "Stormy", "Snowy"]
wind_directions = ["N", "NE", "E", "SE", "S", "SW", "W", "NW"]

In [ ]:
for _ in range(10):  # Insert 10 random weather records
    city = random.choice(cities)
    temperature = round(random.uniform(-5, 35), 1)# Temperature in Celsius
    humidity = random.randint(30, 100)  # Percentage
    pressure = random.randint(980, 1030)  # hPa
    wind_speed = round(random.uniform(0, 15), 1)  # km/h
    wind_direction = random.choice(wind_directions)
    precipitation = round(random.uniform(0, 20), 1)  # mm
    visibility = random.randint(1000, 10000)  # meters
    cloud_cover = random.randint(0, 100)  # Percentage
    uv_index = random.randint(0, 11)  # UV index
    sunrise = "06:30 AM"
    sunset = "07:45 PM"
    current_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

    cursor.execute('''
    INSERT INTO weather
    (city, temperature, humidity, pressure, wind_speed, wind_direction, precipitation,
     visibility, cloud_cover, uv_index, sunrise, sunset, datetime)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', (city, temperature, humidity, pressure, wind_speed, wind_direction, precipitation,
          visibility, cloud_cover, uv_index, sunrise, sunset, current_time))

# Commit the changes
conn.commit()

In [ ]:
cursor.execute("SELECT * FROM weather")
records = cursor.fetchall()

print("\n Weather Records:")

 Weather Records:

In [ ]:
for record in records:
    print(record)

(1, 'Berlin', 8.0, 46, 985, 12.9, 'N', 0.1, 5661, 11, 2, '06:30 AM', '07:45 PM', '2025-02-13 04:49:01')
(2, 'Tokyo', 6.2, 52, 982, 11.8, 'W', 14.3, 3794, 71, 8, '06:30 AM', '07:45 PM', '2025-02-13 04:49:01')
(3, 'New York', 32.7, 94, 1027, 5.9, 'SW', 7.4, 4750, 45, 10, '06:30 AM', '07:45 PM', '2025-02-13 04:49:01')
(4, 'New York', 17.1, 48, 986, 4.5, 'E', 16.8, 5880, 87, 7, '06:30 AM', '07:45 PM', '2025-02-13 04:49:01')
(5, 'London', 14.2, 68, 1013, 10.6, 'SE', 13.7, 9712, 20, 7, '06:30 AM', '07:45 PM', '2025-02-13 04:49:01')
(6, 'Berlin', 14.2, 85, 1010, 0.4, 'SE', 7.4, 3659, 87, 4, '06:30 AM', '07:45 PM', '2025-02-13 04:49:01')
(7, 'London', 19.2, 54, 1020, 0.5, 'SE', 0.6, 8375, 57, 1, '06:30 AM', '07:45 PM', '2025-02-13 04:49:01')
(8, 'Berlin', 19.2, 58, 987, 13.0, 'S', 4.0, 9442, 90, 8, '06:30 AM', '07:45 PM', '2025-02-13 04:49:01')
(9, 'New York', 5.4, 39, 1021, 8.4, 'NE', 2.2, 4523, 65, 5, '06:30 AM', '07:45 PM', '2025-02-13 04:49:01')
(10, 'New York', 23.0, 35, 984, 8.7, 'SW', 5.1, 3406, 72, 3, '06:30 AM', '07:45 PM', '2025-02-13 04:49:01')

In [ ]:
conn.close()

# Task#**1**

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS city_data (
    city_id INTEGER PRIMARY KEY AUTOINCREMENT,
    temperature REAL,
    city_sites TEXT,
    datetime TEXT
);
''')

In [ ]:
for _ in range(10):  # Insert 10 random weather records
    city_sites = random.choice(cities)
    temperature = round(random.uniform(-5, 35), 1)# Temperature in Celsius
    sunrise = "06:30 AM"
    sunset = "07:45 PM"
    current_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

    cursor.execute('''
    INSERT INTO city_data
    (temperature, city_sites, datetime)
    VALUES (?, ?, ?)
    ''', (temperature,city_sites,current_time))

# Commit the changes
conn.commit()

In [ ]:
cursor.execute("SELECT * FROM city_data")
records = cursor.fetchall()

print("\n City Records:")
for record in records:
    print(record)

 City Records:
(1, -2.2, 'New York', '2025-02-13 05:02:39')
(2, 14.8, 'Tokyo', '2025-02-13 05:02:39')
(3, 7.1, 'Berlin', '2025-02-13 05:02:39')
(4, 14.9, 'Berlin', '2025-02-13 05:02:39')
(5, 19.3, 'London', '2025-02-13 05:02:39')
(6, 3.6, 'Paris', '2025-02-13 05:02:39')
(7, 10.6, 'Berlin', '2025-02-13 05:02:39')
(8, 22.3, 'New York', '2025-02-13 05:02:39')
(9, -1.6, 'New York', '2025-02-13 05:02:39')
(10, 10.3, 'New York', '2025-02-13 05:02:39')

# Part **2**

In [ ]:
query = '''
SELECT
    weather.city,
    weather.temperature AS weather_temperature,
    weather.humidity,
    weather.pressure,
    weather.wind_speed,
    city_data.temperature AS city_avg_temperature,
    city_data.city_sites,
    city_data.datetime AS city_record_datetime
FROM weather
JOIN city_data ON weather.city = city_data.city_sites;
'''

cursor.execute(query)

results = cursor.fetchall()
for row in results:
    print(row)

('Berlin', 8.0, 46, 985, 12.9, 7.1, 'Berlin', '2025-02-13 05:02:39')
('Berlin', 8.0, 46, 985, 12.9, 10.6, 'Berlin', '2025-02-13 05:02:39')
('Berlin', 8.0, 46, 985, 12.9, 14.9, 'Berlin', '2025-02-13 05:02:39')
('Tokyo', 6.2, 52, 982, 11.8, 14.8, 'Tokyo', '2025-02-13 05:02:39')
('New York', 32.7, 94, 1027, 5.9, -2.2, 'New York', '2025-02-13 05:02:39')
('New York', 32.7, 94, 1027, 5.9, -1.6, 'New York', '2025-02-13 05:02:39')
('New York', 32.7, 94, 1027, 5.9, 10.3, 'New York', '2025-02-13 05:02:39')
('New York', 32.7, 94, 1027, 5.9, 22.3, 'New York', '2025-02-13 05:02:39')
('New York', 17.1, 48, 986, 4.5, -2.2, 'New York', '2025-02-13 05:02:39')
('New York', 17.1, 48, 986, 4.5, -1.6, 'New York', '2025-02-13 05:02:39')
('New York', 17.1, 48, 986, 4.5, 10.3, 'New York', '2025-02-13 05:02:39')
('New York', 17.1, 48, 986, 4.5, 22.3, 'New York', '2025-02-13 05:02:39')
('London', 14.2, 68, 1013, 10.6, 19.3, 'London', '2025-02-13 05:02:39')
('Berlin', 14.2, 85, 1010, 0.4, 7.1, 'Berlin', '2025-02-13 05:02:39')
('Berlin', 14.2, 85, 1010, 0.4, 10.6, 'Berlin', '2025-02-13 05:02:39')
('Berlin', 14.2, 85, 1010, 0.4, 14.9, 'Berlin', '2025-02-13 05:02:39')
('London', 19.2, 54, 1020, 0.5, 19.3, 'London', '2025-02-13 05:02:39')
('Berlin', 19.2, 58, 987, 13.0, 7.1, 'Berlin', '2025-02-13 05:02:39')
('Berlin', 19.2, 58, 987, 13.0, 10.6, 'Berlin', '2025-02-13 05:02:39')
('Berlin', 19.2, 58, 987, 13.0, 14.9, 'Berlin', '2025-02-13 05:02:39')
('New York', 5.4, 39, 1021, 8.4, -2.2, 'New York', '2025-02-13 05:02:39')
('New York', 5.4, 39, 1021, 8.4, -1.6, 'New York', '2025-02-13 05:02:39')
('New York', 5.4, 39, 1021, 8.4, 10.3, 'New York', '2025-02-13 05:02:39')
('New York', 5.4, 39, 1021, 8.4, 22.3, 'New York', '2025-02-13 05:02:39')
('New York', 23.0, 35, 984, 8.7, -2.2, 'New York', '2025-02-13 05:02:39')
('New York', 23.0, 35, 984, 8.7, -1.6, 'New York', '2025-02-13 05:02:39')
('New York', 23.0, 35, 984, 8.7, 10.3, 'New York', '2025-02-13 05:02:39')
('New York', 23.0, 35, 984, 8.7, 22.3, 'New York', '2025-02-13 05:02:39')

In [ ]:
conn.close()

In [2]:
import requests
api_key = "51a1b8c00df34cb983452016251302"
city_name = "Islamabad"
days = 1
weather_url = f"http://api.weatherapi.com/v1/forecast.json?key={api_key}&q={city_name}&days={days}&aqi=yes"
response = requests.get(weather_url)
weather_data = response.json()
if "location" in weather_data and "forecast" in weather_data:
    location_name = weather_data["location"]["name"]
    country = weather_data["location"]["country"]
    print(f"Weather Forecast for {location_name}, {country} ({days} Days):\n")
    for day in weather_data["forecast"]["forecastday"]:
        date = day["date"]
        avg_temp = day["day"]["avgtemp_c"]
        condition = day["day"]["condition"]["text"]
        humidity = day["day"]["avghumidity"]
        wind_speed = day["day"]["maxwind_kph"]
        pressure = day["day"].get("pressure_mb", "N/A")
        print(f"Date: {date}")
        print(f"  Avg Temp: {avg_temp}°C")
        print(f"  Condition: {condition}")
        print(f"  Humidity: {humidity}%")
        print(f"  Wind Speed: {wind_speed} km/h")
        print(f"  Pressure: {pressure} hPa\n")
else:
    print("Error fetching data. Check API key or city name.")

Weather Forecast for Islamabad, Pakistan (1 Days):

Date: 2025-02-13
  Avg Temp: 12.7°C
  Condition: Partly Cloudy
  Humidity: 23%
  Wind Speed: 17.6 km/h
  Pressure: N/A hPa

# Task **3**

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
url = "https://www.bbc.com/weather/2643743"  # London’s BBC Weather page

# Send a request to fetch the webpage content
headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(url, headers=headers)

In [ ]:
# Parse the HTML content
soup = BeautifulSoup(response.text, "html.parser")

# Extract temperature
temperature = soup.find("span", class_="wr-value--temperature--c").text

# Extract weather description
description = soup.find("div", class_="wr-day__weather-type-description").text.strip()

# Display results
print(f"Weather in London:")
print(f"Temperature: {temperature}")
print(f"Description: {description}")

Weather in London:
Temperature: 6°
Description: Light cloud and light winds

In [ ]:
# URL for BBC News homepage
url = "https://www.bbc.com/news"

# Send a request to fetch the webpage content
headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(url, headers=headers)

In [ ]:

soup = BeautifulSoup(response.text, "html.parser")

articles = soup.find_all("a", href=True)

print("Latest BBC News Articles:")
for article in articles:
    if "news" in article["href"]:
        title = article.get_text().strip()
        link = article["href"]

        # Print full link if it's relative
        if not link.startswith("http"):
            link = "https://www.bbc.com" + link

        if title:
            print(f"Title: {title}")
            print(f"Link: {link}\n")

Latest BBC News Articles:
Title: Watch Live
Link: https://www.bbc.com/watch-live-news/

Title: News
Link: https://www.bbc.com/news

Title: Israel-Gaza War
Link: https://www.bbc.com/news/topics/c2vdnvdg6xxt

Title: War in Ukraine
Link: https://www.bbc.com/news/war-in-ukraine

Title: US & Canada
Link: https://www.bbc.com/news/us-canada

Title: UK
Link: https://www.bbc.com/news/uk

Title: Africa
Link: https://www.bbc.com/news/world/africa

Title: Asia
Link: https://www.bbc.com/news/world/asia

Title: Australia
Link: https://www.bbc.com/news/world/australia

Title: Europe
Link: https://www.bbc.com/news/world/europe

Title: Latin America
Link: https://www.bbc.com/news/world/latin_america

Title: Middle East
Link: https://www.bbc.com/news/world/middle_east

Title: In Pictures
Link: https://www.bbc.com/news/in_pictures

Title: BBC InDepth
Link: https://www.bbc.com/news/bbcindepth

Title: BBC Verify
Link: https://www.bbc.com/news/bbcverify

Title: News
Link: https://www.bbc.com/news

Title: Israel-Gaza War
Link: https://www.bbc.com/news/topics/c2vdnvdg6xxt

Title: War in Ukraine
Link: https://www.bbc.com/news/war-in-ukraine

Title: US & Canada
Link: https://www.bbc.com/news/us-canada

Title: UK
Link: https://www.bbc.com/news/uk

Title: UK Politics
Link: https://www.bbc.com/news/politics

Title: England
Link: https://www.bbc.com/news/england

Title: N. Ireland
Link: https://www.bbc.com/news/northern_ireland

Title: N. Ireland Politics
Link: https://www.bbc.com/news/northern_ireland/northern_ireland_politics

Title: Scotland
Link: https://www.bbc.com/news/scotland

Title: Scotland Politics
Link: https://www.bbc.com/news/scotland/scotland_politics

Title: Wales
Link: https://www.bbc.com/news/wales

Title: Wales Politics
Link: https://www.bbc.com/news/wales/wales_politics

Title: Africa
Link: https://www.bbc.com/news/world/africa

Title: Asia
Link: https://www.bbc.com/news/world/asia

Title: China
Link: https://www.bbc.com/news/world/asia/china

Title: India
Link: https://www.bbc.com/news/world/asia/india

Title: Australia
Link: https://www.bbc.com/news/world/australia

Title: Europe
Link: https://www.bbc.com/news/world/europe

Title: Latin America
Link: https://www.bbc.com/news/world/latin_america

Title: Middle East
Link: https://www.bbc.com/news/world/middle_east

Title: In Pictures
Link: https://www.bbc.com/news/in_pictures

Title: BBC InDepth
Link: https://www.bbc.com/news/bbcindepth

Title: BBC Verify
Link: https://www.bbc.com/news/bbcverify

Title: Entertainment News
Link: https://www.bbc.com/culture/entertainment-news

Title: Live News
Link: https://www.bbc.com/live/news

Title: Newsletters
Link: https://www.bbc.com/newsletters

Title: Ukraine war talks start now, Trump says after Putin callThe US and Russia leaders speak over the phone after Trump says Nato membership for Ukraine is unlikely.3 hrs agoWorld
Link: https://www.bbc.com/news/articles/c04n622gzx7o

Title: Trump offers Putin a way back in from the coldThe BBC's Steve Rosenberg analyses how one phone call between Moscow and DC has already upended east-west relations.10 hrs agoWorld
Link: https://www.bbc.com/news/articles/c8ed3nk3n6ro

Title: Moment SUV driver narrowly escapes train collisionThe driver managed to flee with seconds to spare after their vehicle was pushed on to a train track in Utah.1 hr agoUS & Canada
Link: https://www.bbc.com/news/videos/c8d93dd63v2o

Title: Beginnings of Roman London discovered in office basementThe discovery has been described as one of the most important pieces of Roman history in the City of London.12 hrs agoScience & Environment
Link: https://www.bbc.com/news/articles/cx2jdnv0ywyo

Title: Trump moves to close entries to government worker buyout programmeAbout 75,000 government employees have reportedly opted into the programme, which is designed to shrink the workforce.2 hrs agoUS & Canada
Link: https://www.bbc.com/news/articles/cvgey2xd1ydo

Title: Trump offers Putin a way back in from the coldThe BBC's Steve Rosenberg analyses how one phone call between Moscow and DC has already upended east-west relations.10 hrs agoWorld
Link: https://www.bbc.com/news/articles/c8ed3nk3n6ro

Title: 'On a power trip' or 'obviously brilliant'? Americans weigh Musk's influenceThe world's richest man is leading a sweeping cost-cutting drive. What do voters in a key swing state make of his role?2 hrs agoUS & Canada
Link: https://www.bbc.com/news/articles/cvgmygm2n80o

Title: 'AI appears better able to empathise than humans'Some young people in China are finding that AI can offer the unexpected - emotional support8 hrs agoAsia
Link: https://www.bbc.com/news/articles/cy7g45g2nxno

Title: Ex-Google boss fears AI could be used by terroristsEric Schmidt says AI technology could "harm innocent people" if it ends up in the wrong hands.5 hrs agoTechnology
Link: https://www.bbc.com/news/articles/c5y6eq2zxlno

Title: Moment SUV driver narrowly escapes train collisionThe driver managed to flee with seconds to spare after their vehicle was pushed on to a train track in Utah.1 hr agoUS & Canada
Link: https://www.bbc.com/news/videos/c8d93dd63v2o

Title: Confusion clouds efforts to save Gaza ceasefire6 hrs agoWorld
Link: https://www.bbc.com/news/articles/cd7d9p0j5qeo

Title: Trade, tariffs and visas to dominate Trump-Modi talks32 mins agoWorld
Link: https://www.bbc.com/news/articles/cj91d3jkpvlo

Title: Austria's political crisis deepens as far right fails to form government9 hrs agoEurope
Link: https://www.bbc.com/news/articles/c78x3klx4rjo

Title: Santorini fears for summer tourist season as earthquakes hit island11 hrs agoEurope
Link: https://www.bbc.com/news/articles/cpvme8jw9dro

Title: US releases Russian Bitcoin fraud suspect as Belarus frees American6 hrs agoWorld
Link: https://www.bbc.com/news/articles/cy08z28wpvdo

Title: Is it checkmate for South Africa after Trump aid freeze?The US president is ratcheting up pressure on South Africa over its domestic and foreign policy.4 hrs agoWorld
Link: https://www.bbc.com/news/articles/cm27g2jzd78o

Title: Trump-Putin call lowers the temperature but at Ukraine's expenseThe BBC's Frank Gardner says improved relations between DC and Moscow may spell trouble for Kyiv.11 hrs agoEurope
Link: https://www.bbc.com/news/articles/c2k5wyqqlq0o

Title: Fact-checking Elon Musk's claims in the Oval OfficeThe billionaire has made a number of exaggerated or unevidenced claims during a White House event.11 hrs agoUS & Canada
Link: https://www.bbc.com/news/articles/cwyjz24ne85o

Title: Hegseth sets out hard line on European defence and NatoThe US defence secretary tells Europe to spend more and take responsibility for Ukraine's future defence.12 hrs agoEurope
Link: https://www.bbc.com/news/articles/cy0pz3er37jo

Title: Legal showdown looms as Trump tests limits of presidential powerA judge accused the Trump administration of defying his orders, setting up a battle that could end up at the Supreme Court.16 hrs agoUS & Canada
Link: https://www.bbc.com/news/articles/c70kd686k2do

Title: Why India fails to protect its domestic workers despite decades of abuseDespite the high demand for domestic workers, they remain India's most vulnerable and exploited people.8 hrs agoAsia
Link: https://www.bbc.com/news/articles/cp3j0e79q52o

Title: Fact-checking Elon Musk's claims in the Oval OfficeThe billionaire has made a number of exaggerated or unevidenced claims during a White House event.11 hrs agoUS & Canada
Link: https://www.bbc.com/news/articles/cwyjz24ne85o

Title: Hunt for rare daffodils that are feared lostAs daffodils burst into bloom, experts want help in finding rare treasures hiding in plain sight.1 day agoClimate
Link: https://www.bbc.com/news/articles/c0qwvppk0zzo

Title: Fact-checking Elon Musk's claims in the Oval OfficeThe billionaire has made a number of exaggerated or unevidenced claims during a White House event.11 hrs agoUS & Canada
Link: https://www.bbc.com/news/articles/cwyjz24ne85o

Title: How I exposed MI5's lie about its violent abusive agentThe Security Service gambled BBC correspondent Daniel De Simone had no evidence. A note, an email and a recording proved it wrong.15 hrs agoUK
Link: https://www.bbc.com/news/articles/cx25m231n8xo

Title: 1Moment SUV driver narrowly escapes train collision
Link: https://www.bbc.com/news/videos/c8d93dd63v2o

Title: 2BBC reporter asks Trump about return to pre-2014 Ukraine borders
Link: https://www.bbc.com/news/videos/c391mm78yego

Title: 3'It's a new reality' - US stance on Ukraine a bitter blow to Zelensky
Link: https://www.bbc.com/news/videos/c334kyl37jmo

Title: 4Moment Monty the giant schnauzer wins prestigious US dog show
Link: https://www.bbc.com/news/videos/cwypz1e7lzno

Title: 5Hawaii's volcano puts on fiery display as eruption intensifies
Link: https://www.bbc.com/news/videos/c334k2z4ee2o

Title: Sicily's gangsters complain they can't get the staff An investigation reveals a crime group having to adapt to modernity and displaying a nostalgia for past ambitions.10 hrs agoEurope
Link: https://www.bbc.com/news/articles/c1wex4qq792o

Title: Chevron to cut as much as 20% of workforceChevron said the move was part of a wider cost-cutting effort, which will see it expand automation. 8 hrs ago
Link: https://www.bbc.com/news/articles/c8ed3n1zw05o

Title: Sudan fighters accused of storming famine-hit campParamilitaries have been accused of burning a market and homes at a camp for displaced people.14 hrs agoAfrica
Link: https://www.bbc.com/news/articles/ce85x6w22gwo

Title: Workers rescued from window ledge as fire engulfs Rio clothing factoryAt least 20 people have been injured after a factory making costumes for Carnival celebrations in Brazil caught fire.13 hrs agoLatin America
Link: https://www.bbc.com/news/videos/c3rwe3yy89no

Title: Judge's sperm donor warning over man who 'fathered 180 children'Women are warned against a man who claims his sperm has fathered children all around the world.18 hrs agoWales
Link: https://www.bbc.com/news/articles/c5yer90xpzno

Title: Chevron to cut as much as 20% of workforceChevron said the move was part of a wider cost-cutting effort, which will see it expand automation. 8 hrs ago
Link: https://www.bbc.com/news/articles/c8ed3n1zw05o

Title: Charity 'blown away' by support after Chappell Roan donationThe Pink Pony Club singer wants music labels to offer artists a "liveable wage and healthcare".19 hrs agoNewsbeat
Link: https://www.bbc.com/news/articles/c15z87v38wjo

Title: Sudan fighters accused of storming famine-hit campParamilitaries have been accused of burning a market and homes at a camp for displaced people.14 hrs agoAfrica
Link: https://www.bbc.com/news/articles/ce85x6w22gwo

Title: 1'On a power trip' or 'obviously brilliant'? Americans weigh Musk's influence
Link: https://www.bbc.com/news/articles/cvgmygm2n80o

Title: 2Ukraine war talks start now, Trump says after Putin call
Link: https://www.bbc.com/news/articles/c04n622gzx7o

Title: 3Trump offers Putin a way back in from the cold
Link: https://www.bbc.com/news/articles/c8ed3nk3n6ro

Title: 4Beginnings of Roman London discovered in office basement
Link: https://www.bbc.com/news/articles/cx2jdnv0ywyo

Title: 5Trump moves to close entries to government worker buyout programme
Link: https://www.bbc.com/news/articles/cvgey2xd1ydo

Title: 6Is it checkmate for South Africa after Trump aid freeze?
Link: https://www.bbc.com/news/articles/cm27g2jzd78o

Title: 7Canada leaders take push against tariffs to White House
Link: https://www.bbc.com/news/articles/cj91xrp4zyjo

Title: 8Senior Ukraine official accused of being Russian 'rat'
Link: https://www.bbc.com/news/articles/cq5gx776nqgo

Title: 9Moment SUV driver narrowly escapes train collision
Link: https://www.bbc.com/news/videos/c8d93dd63v2o

Title: 10Fact-checking Elon Musk's claims in the Oval Office
Link: https://www.bbc.com/news/articles/cwyjz24ne85o

Title: News
Link: https://www.bbc.com/news

# Part **2**

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#url of the web
url = "https://allinonefabrics.pk/?srsltid=AfmBOooXH5NXZZVwwyG5EiHu_EtzpOVYBPzCdKytod-3GU9v6yIEM3KB"

# Define header
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"
}

# get request
response = requests.get(url, headers=headers)

# parse the html
soup = BeautifulSoup(response.text, "html.parser")

# list of products
product_details = []

In [ ]:
title=soup.select('.woocommerce-LoopProduct-link.woocommerce-loop-product__link')
price = soup.select('.screen-reader-text')
for x in title:
  print(x.text)

Mix Lawn 2PC | ML # 20
Bin Saeed Lawn Vol 2 | BS # 3
Gull Bano by Bin Yousaf |  GBY # 2
Salina Regalia Doria lawn 3PC | SRD # 4
Bin Saeed Chicken Kari | BSC # 1
Saya Lawn 3pc | SL # 5
Gull Bano by Bin Yousaf |  GBY # 7
Gull Bano by Bin Yousaf |  GBY # 3
Safina Dhoriya Lawn 3PC | SDL 7
Zellbury Lawn 2PC | ZBL # 11
Gull Bano by Bin Yousaf |  GBY # 1
Bonanza Satrangi Lawn 3PC | BSL # 9

In [ ]:
price = soup.select('.screen-reader-text')
for x in price:
  print(x.text)

Skip to content
Search for:
Original price was: ₨ 2,999.
Current price is: ₨ 1,390.


Original price was: ₨ 5,400.
Current price is: ₨ 2,600.


Original price was: ₨ 4,990.
Current price is: ₨ 3,450.


Original price was: ₨ 3,999.
Current price is: ₨ 2,550.


Original price was: ₨ 9,999.
Current price is: ₨ 4,600.


Original price was: ₨ 3,599.
Current price is: ₨ 2,550.


Original price was: ₨ 4,990.
Current price is: ₨ 3,450.


Original price was: ₨ 4,990.
Current price is: ₨ 3,450.


Original price was: ₨ 3,999.
Current price is: ₨ 2,600.


Original price was: ₨ 2,390.
Current price is: ₨ 2,150.


Original price was: ₨ 4,990.
Current price is: ₨ 3,450.


Original price was: ₨ 5,999.
Current price is: ₨ 2,700.


Search for: